<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>All Employees</h2>
<br>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Operations</th>
    </tr>

    <tr th:each="emp : ${allEmps}">
        <td th:text="${emp.name}"></td>
        <td th:text="${emp.surname}"></td>
        <td th:text="${emp.department}"></td>
        <td th:text="${emp.salary}"></td>
        <td>
            <a th:href="@{/updateInfo(empId=${emp.id})}"><button>Update</button></a>
            <a th:href="@{/deleteEmployee(empId=${emp.id})}"><button>Delete</button></a>
        </td>
    </tr>
</table>

<br>

<a th:href="@{/addNewEmployee}"><button>Add</button></a>

</body>
</html>